@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


body {
    font-family: Helvetica, Arial, sans-serif;
    min-width: 320px;
    // background-color: red;
}

:root {
    --header-bg-color: rgb(59 140 195 / 38%);
    --header-txt-color: rgb(105 27 27 / 77%);
    --background-color: #bfd8a96b;
}

.app-body {
    background-color: var(--background-color);
}

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 480px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1024px,
  // Extra large screen / wide desktop
  xl: 1280px
);

@import "bootstrap";

// Flex styles

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


// Header Styles

header {
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 1em;
    padding-right: 1em;
    a {
        color: var(--header-txt-color);
    }
    a:hover {
        color: white;
    }
}


.cart-icon:hover {
    color: white;
    cursor: pointer;
}


// Product grid styles

.transition {
    transition:opacity .5s linear;
}

.opacity-0 {
    opacity: 0;
}
  
.opacity-1 {
    opacity: 1;
}

.min-height-container {
    min-height: 100vh;
}

@media only screen and (min-width: 320px) {
    .product-thumb {
        min-width: 290px;
        min-height: 324px;
    }
}

@media only screen and (min-width: 540px) {
    .product-thumb {
        min-width: 510px;
        min-height: 524px;
    }

    .cart-container {
        padding: 0 1em;
    }

    header {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .product-thumb {
        min-width: 330px;
        min-height: 364px;
    }

    .cart-container {
        padding: 0 5em;
    }

    header {
        padding-left: 4em;
        padding-right: 4em;
    }
}

@media only screen and (min-width: 1024px) {
    .product-thumb {
        min-width: 289.984px;
        min-height: 323.984px;
    }

    .cart-container {
        padding: 0 10em;
    }

    header {
        padding-left: 5em;
        padding-right: 5em;
    }
}


// cart

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cart-item {
    img {
        margin-right: auto;
        margin-left: 10px;   
    }
}

.cart-page {
    .total-cost {
        text-align: right;
        font-size: 1.3em;
        font-weight: 500;
    }
}

.cart-item-info {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    p {
        text-align: right;
    }
}

.cart-img {
    min-height: 100px;
    min-width: 100px;
}

.text-centered {
    text-align: center;
}