body {
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --header-bg-color: #346c92a6;
    --header-txt-color: #9c4242c4;
}


// Flex styles

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


// Header Styles

header {
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    padding: 0 10px;
}

header > a {
    color: var(--header-txt-color);
}

.cart-icon:hover {
    color: white;
    cursor: pointer;
}


// Product grid styles

.transition {
    transition:opacity 1s linear;
}

.loading {
    opacity: 0;
}
  
.done {
    opacity: 1;
}

.min-height-container {
    min-height: 100vh;
}


// cart

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cart-item img {
    margin-right: auto;
    margin-left: 10px;   
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}